@import "prism-okaidia.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Tropi Land';
  src: url('/fonts/TropiLandRegular.woff2') format('woff2'),
    url('/fonts/TropiLandRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 125%;
}

@layer components {
  .header-block {
    @apply font-tropic uppercase text-3xl leading-tight font-semibold text-salmon bg-gradient-purple_heart rounded-t py-7 px-6;
  }

  .title-bg {
    @apply font-semibold text-salmon-200 box-decoration-clone bg-gradient-purple_heart px-2 py-1;
  }

  .footer-header {
    @apply text-purple_heart font-bold align-baseline text-left pr-2 pb-2 w-1/4;
  }

  .footer-data {
    @apply align-baseline pb-2;
  }
}

.max-w-screen-h {
  max-width: 133vh;
}

.w-content {
  @apply max-w-full sm:max-w-2xl md:max-w-4xl lg:max-w-5xl w-full self-center;
}

.bg-gradient-salmon {
  background-image: linear-gradient(to right bottom, #fff1f2, #ffeeef, #ffebec, #ffe7e9, #ffe4e6);
}

.bg-gradient-purple_heart {
  background-image: linear-gradient(to left bottom, #47149e, #4914a3, #4b14a8, #4c14ae, #4e14b3);
}

.child {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.link {
  @apply text-salmon-400 underline;
}

.link:hover {
  @apply no-underline text-salmon-300;
}

.prefix-hash:before {
  content: "#";
  display: inline;
}

.hover-wrapper:hover .hover-wrapper__underline {
  @apply underline;
}


.ar-3x2 {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.66666666666667%;
}

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

#webmentions h2 {
  @apply hidden;
}
#webmentions .reacts {
  @apply flex flex-row flex-wrap;
}

#webmentions .reaction {
  @apply mr-2 flex flex-row items-center;
}

#webmentions img {
  @apply h-4 w-4 object-cover mr-0.5;
}

.js-tr-webmentions {
  @apply hidden;
}

.js-tr-webmentions:has(#webmentions .reacts) {
  @apply table-row;
}

.markdown {
  @apply leading-relaxed break-words text-xl;
}

.markdown > * + *,
.markdown > p {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-2;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply link;
}

.markdown a:hover {
  @apply no-underline;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply text-purple_heart font-semibold leading-relaxed text-balance text-5xl mb-2 mt-6;
}

.markdown h2 {
  @apply text-purple_heart font-semibold leading-relaxed text-balance text-4xl mb-2 mt-6;
}

.markdown h3 {
  @apply text-purple_heart font-semibold leading-relaxed text-balance text-3xl mb-2 mt-6;
}

.markdown h4 {
  @apply text-purple_heart font-semibold leading-relaxed text-balance text-xl mb-4 mt-6;
}

.markdown h5 {
  @apply text-purple_heart leading-tight text-lg font-normal mb-4 mt-6;
}

.markdown h6 {
  @apply text-purple_heart leading-tight text-lg font-normal text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-xl border-l-4 border-purple_heart pl-4 pr-4 text-gray-600;
}

.markdown ul {
  @apply text-xl pl-8 list-disc;
}

.markdown ol {
  @apply text-xl pl-8 list-decimal;
}
.markdown ol, .markdown ul {
  @apply marker:text-purple_heart marker:font-bold;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-xl border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

.markdown p > code {
  @apply bg-neutral-100 px-2 py-1 rounded;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

.markdown img {
  @apply m-auto bg-white;
}

open-heart:not([disabled]):hover,
open-heart:not([disabled]):focus {
  @apply bg-salmon cursor-pointer text-white;
}

open-heart[disabled] {
  @apply cursor-not-allowed;
}

open-heart[count]:not([count="0"])::after {
  content: attr(count);
}
