@import 'prism-okaidia.css';

@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Italic';
}

.max-w-screen-h {
  max-width: 133vh;
}

.w-content {
  @apply max-w-full sm:max-w-xl md:max-w-3xl lg:max-w-4xl w-full self-center
}

.link {
  @apply text-branding underline
}

.link:hover {
  @apply no-underline
}

.prefix-hash:before {
  content: "#";
  display: inline;
}

.hover-wrapper:hover .hover-wrapper__underline {
  @apply underline
}

.title-bg {
  @apply font-semibold text-white box-decoration-clone bg-branding px-2 py-1
}

.ar-3x2 {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.66666666666667%;
}

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

#webmentions .reacts {
  @apply flex flex-row;
}

#webmentions .reaction {
  @apply mr-2 flex flex-row items-center
}

#webmentions img {
  @apply h-4 w-4 object-cover mr-0.5;
}

.markdown {
  @apply text-gray-800 leading-relaxed break-words text-xl;
}

.markdown > * + *, .markdown > p {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply link;
}

.markdown a:hover {
  @apply no-underline;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-5xl font-normal mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-4xl font-normal mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-3xl font-normal mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-xl font-normal mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-lg font-normal mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-lg font-normal text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-xl border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown ul {
  @apply text-xl pl-8 list-disc;
}

.markdown ol {
  @apply text-xl pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-xl border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

.markdown p > code {
  @apply bg-neutral-100 px-2 py-1 rounded;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}

.markdown img {
  @apply m-auto;
}
