@tailwind base;

@tailwind components;

@tailwind utilities;

.link {
  @apply text-cabaret-500 underline
}

.link:hover {
  @apply no-underline
}

.prefix-hash:before {
  content: "#";
  display: inline;
}

applause-button.jonas-applause-button {
  width: 30px;
  height: 30px;
}

applause-button.jonas-applause-button .style-root {
  fill: theme('colors.cabaret.500') !important;
  stroke: theme('colors.cabaret.500') !important;
  color: theme('colors.cabaret.500') !important;
}

applause-button.jonas-applause-button .count-container {
  @apply text-cabaret-500 leading-normal text-sm;
  top: -85%
}

.hover-wrapper:hover .hover-wrapper__underline {
  @apply underline
}

.ar-3x2 {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.66666666666667%;
}

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply text-gray-800 leading-normal break-words text-xl;
}

.markdown > * + *, .markdown > p {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply link;
}

.markdown a:hover {
  @apply no-underline;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply leading-tight border-b text-5xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h2 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.markdown h3 {
  @apply leading-snug text-3xl font-semibold mb-4 mt-6;
}

.markdown h4 {
  @apply leading-none text-xl font-semibold mb-4 mt-6;
}

.markdown h5 {
  @apply leading-tight text-lg font-semibold mb-4 mt-6;
}

.markdown h6 {
  @apply leading-tight text-lg font-semibold text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-xl border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

.markdown pre {
  @apply bg-gray-100 rounded p-4;
}

.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.markdown ul {
  @apply text-xl pl-8 list-disc;
}

.markdown ol {
  @apply text-xl pl-8 list-decimal;
}

.markdown kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.markdown table {
  @apply text-xl border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}
