---
layout: layout.liquid
---
<h1 class="text-3xl md:text-5xl font-black leading-none mb-4 max-w-xl w-full self-center">
  {{title}}
</h1>

<div class="flex flex-wrap justify-center -mx-2 mb-8">
{% for image in photos %}
  {% responsive_image image %}
{% endfor %}
</div>

<div class="markdown max-w-xl self-center">
  {{content}}
</div>
