---
layout: layout.liquid
---
<h1 class="text-center text-4xl font-black mb-4 max-w-xl self-center">
  {{title}}
</h1>

{% for image in photos %}
  {% responsive_image image %}
{% endfor %}

<div class="markdown max-w-xl self-center">
  {{content}}
</div>
