<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blog</title>
  </head>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/styles.css">
  <body class="bg-red-200">

    <div class="text-center text-6xl font-black">
      Jonas Brusman
    </div>
    <div class="m-4 p-4 bg-white rounded">
      {{ content }}
    </div>
  </body>
</html>
