<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Blog</title>
  </head>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/styles.css">
{% comment %}
  <style>
    picture {
      max-height: 95vh;
      max-width: 150vh;
    }

    img {
      max-width: 100%;
    }
  </style> {% endcomment %}
  <body>
    {{ content }}
  </body>
</html>
