<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}
      {% if title %}
        |
      {% endif %}Jonas Brusman</title>
    <link rel="alternate" type="application/atom+xml" title="Jonas Brusman's blog" href="https://jonas.brusman.se/feed"/>
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Jonas Brusman's bookmarks"
      href="https://jonas.brusman.se/bookmarks/feed"/>
    <link rel="stylesheet" href="/css/styles.css">
    {% set page_excerpt %}{% excerpt description, content, title %}{% endset %} <meta name="description" content="{{ page_excerpt | truncate(200) }}">
    {% if photos.length > 0 -%}
      {%- set photo = photos[0] -%} <meta property="og:image" content="{% image_url photo, true %}"/>
    {% else %}
      <meta property="og:image" content="/og.png"/>
    {% endif -%}
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <link rel="webmention" href="https://webmention.io/jonas.brusman.se/webmention"/>
    <link rel="pingback" href="https://webmention.io/jonas.brusman.se/xmlrpc"/>
    <link href="https://twitter.com/himynameisjonas" rel="me">
    <link href="https://github.com/himynameisjonas" rel="me">
    <link href="https://tacocat.space/@jonas" rel="me">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body class="flex flex-col p-4 pb-8 bg-white dark:bg-neutral-900 text-gray-700 dark:text-neutral-500">
    <header class="flex mb-10 md:mt-6 flex-wrap items-baseline gap-x-6 w-content justify-center md:justify-start">
      <a
        href="/"
        rel="author"
        class="bg-neutral-100 dark:bg-neutral-800 text-branding dark:text-branding-600 uppercase hover:animate-pulse block
          font-semibold leading-tight md:text-left p-name px-4 py-3 text-3xl mb-2 ">
        Jonas Brusman
      </a>
      <nav class="flex flex-wrap items-baseline gap-x-3 text-xl font-normal">
        <a href="/" class="{% if page.url == "/" %}text-branding border-branding dark:text-branding-600 dark:border-branding-600{% else %}border-white dark:border-neutral-700 text-gray-700 dark:text-neutral-500{% endif %} hover:border-branding border-b-4 pb-1 hover:text-branding">Home</a>
        <a href="/photos/" class="{% if page.url == "/photos/" or blogPostType == "photo" %}text-branding border-branding dark:text-branding-600 dark:border-branding-600{% else %}border-white dark:border-neutral-700 text-gray-700 dark:text-neutral-500{% endif %} hover:border-branding border-b-4 pb-1 hover:text-branding">Photos</a>
        <a href="/notes/" class="{% if page.url == "/notes/" or blogPostType == "note" %}text-branding border-branding dark:text-branding-600 dark:border-branding-600{% else %}border-white dark:border-neutral-700 text-gray-700 dark:text-neutral-500{% endif %} hover:border-branding border-b-4 pb-1 hover:text-branding">
          Notes
        </a>
        {% set bookmarksRegex = r/\/bookmarks\//g %}
        <a href="/bookmarks/" class="{% if bookmarksRegex.test(page.url) %}text-branding border-branding dark:text-branding-600 dark:border-branding-600{% else %}border-white dark:border-neutral-700 text-gray-700 dark:text-neutral-500{% endif %} hover:border-branding border-b-4 pb-1 hover:text-branding">
          Bookmarks
        </a>
        <a href="/about/" class="{% if page.url == "/about/" %}text-branding border-branding dark:text-branding-600 dark:border-branding-600{% else %}border-white dark:border-neutral-700 text-gray-700 dark:text-neutral-500{% endif %} hover:border-branding border-b-4 pb-1 hover:text-branding">About</a>
      </nav>
    </header>
    <div class="flex flex-col">
      {{ content | safe }}
    </div>
    {% tracking_script -%}
    <script src="/js/instantpage-5.2.0.js" type="module" defer></script>
  </body>
</html>
