<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jonas Brusman</title>
  </head>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/styles.css">
  <body class="bg-red-200">

    <div class="text-center text-6xl font-black underline leading-tight">
      <a href="/">Jonas Brusman</a>
    </div>
    <div class="bg-white flex flex-col my-4 mx-0 md:mx-4 p-4 rounded">
      {{ content }}
    </div>
  </body>
</html>
