<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} {% if title %} | {% endif %}Jonas Brusman</title>
    <link rel="alternate" type="application/atom+xml" title="jonas.brusman.se" href="https://jonas.brusman.se/rss.xml"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/styles.css">
    {% if photos.size > 0 -%}
      {%- assign photo = photos | first -%}
      <meta property="og:image" content="{% image_url photo true %}" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
    {% endif -%}
  </head>
  <body class="flex flex-col">
    <div class="mt-4 mx-4 mb-10 self-center max-w-xl text-gray-700 h-card">
      <a href="/" rel="author" class="block font-black leading-tight md:text-left p-name text-6xl text-blagra-500 text-center u-url uppercase">
        Jonas Brusman
      </a>
      <span class="p-note">
        I like to do high fives, take photographs and make cool things with Ruby and JavaScript.
      </span>
      You can also find me at
      <a href="https://www.instagram.com/himynameisjonas/" rel="me" class="link">Instagram</a>,
      <a href="https://github.com/himynameisjonas" rel="me" class="link">Github</a>
      and
      <a href="https://twitter.com/himynameisjonas" rel="me" class="link">Twitter</a>.
    </div>
    <div class="flex flex-col p-4">
      {{ content }}
    </div>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    {% tracking_script -%}
  </body>
</html>
