<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}
      {% if title %}
        |
      {% endif %}Jonas Brusman</title>
    <link rel="alternate" type="application/atom+xml" title="jonas.brusman.se" href="https://jonas.brusman.se/rss.xml"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/styles.css">
    {% set page_excerpt %}{% excerpt description, content, title %}{% endset %} <meta name="description" content="{{ page_excerpt | truncate(200) }}">
    {% if photos.size > 0 -%}
      {%- set photo = photos[0] -%} <meta property="og:image" content="{% image_url photo, true %}"/>
      <meta property="og:image:width" content="1200"/>
      <meta property="og:image:height" content="630"/>
    {% endif -%}
    <link rel="webmention" href="https://webmention.io/jonas.brusman.se/webmention"/>
    <link rel="pingback" href="https://webmention.io/jonas.brusman.se/xmlrpc"/>
    <link href="https://twitter.com/himynameisjonas" rel="me">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body class="flex flex-col p-4">
    <header class="flex mb-10 md:mt-6 flex-wrap items-baseline gap-x-3 w-content justify-center sm:justify-start">
      <a
        href="/"
        rel="author"
        class="hover:animate-pulse bg-branding block font-black leading-tight md:text-left p-name px-4 py-3 text-3xl text-white
          uppercase mb-2">
        Jonas Brusman
      </a>
      <nav class="flex flex-wrap items-baseline gap-x-3 text-xl font-normal">
        <a href="/" class="{% if page.url == "/" %}text-branding border-branding{% endif %} border-white hover:border-branding border-b-4 pb-1 hover:text-branding text-gray-700">Home</a>
        <a href="/photos/" class="{% if page.url == "/photos/" or blogPostType == "photo" %}text-branding border-branding{% endif %} border-white hover:border-branding border-b-4 pb-1 hover:text-branding text-gray-700">Photos</a>
        <a href="/notes/" class="{% if page.url == "/notes/" or blogPostType == "note" %}text-branding border-branding{% endif %} border-white hover:border-branding border-b-4 pb-1 hover:text-branding text-gray-700">
          Notes
        </a>
        <a href="/about/" class="{% if page.url == "/about/" %}text-branding border-branding{% endif %} border-white hover:border-branding border-b-4 pb-1 hover:text-branding text-gray-700">About</a>
      </nav>
    </header>
    <div class="flex flex-col">
      {{ content | safe }}
    </div>
    {% tracking_script -%}
    <script src="/js/instantpage-5.1.0.js" type="module" defer></script>
  </body>
</html>
