<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} {% if title %} | {% endif %}Jonas Brusman</title>
    <link rel="alternate" type="application/atom+xml" title="jonas.brusman.se" href="https://jonas.brusman.se/rss.xml"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/styles.css">
    {% capture excerpt_text %}{% excerpt description content title %}{% endcapture -%}
    <meta name="description" content="{{ excerpt_text | truncatewords: 50 }}">
    {% if photos.size > 0 -%}
      {%- assign photo = photos | first -%}
      <meta property="og:image" content="{% image_url photo true %}" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
    {% endif -%}
    <link rel="webmention" href="https://webmention.io/jonas.brusman.se/webmention" />
    <link rel="pingback" href="https://webmention.io/jonas.brusman.se/xmlrpc" />
  </head>
  <body class="flex flex-col">
    <header class="flex mb-10 mt-6 mx-8 flex items-baseline items-baseline gap-x-3">
      <a href="/" rel="author" class="block font-black leading-tight md:text-left p-name text-3xl text-branding text-center uppercase">
        Jonas Brusman
      </a>
      <nav class="flex items-baseline items-baseline gap-x-3 text-xl font-normal">
        <a href="/" class="hover:underline hover:text-branding text-gray-700">Home</a>
        <a href="/photos" class="hover:underline hover:text-branding text-gray-700">Photos</a>
        <a href="/notes" class="hover:underline hover:text-branding text-gray-700">Notes</a>
        <a href="/photos" class="hover:underline hover:text-branding text-gray-700">About</a>
      </nav>
    </header>
    <div class="flex flex-col p-4">
      {{ content }}
    </div>
    {% tracking_script -%}
  </body>
</html>
