<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jonas Brusman</title>
  </head>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/css/styles.css">
  <body class="flex flex-col">

    <div class="mt-4 mx-4 mb-10 self-center max-w-xl">
      <a href="/" class="block font-bold uppercase leading-tight text-6xl text-cabaret-500">Jonas Brusman</a>
      <span>
        Hi, I like to do high fives, take photographs and make cool things with Ruby and JavaScript.
        You can also find me at
        <a href="https://www.instagram.com/himynameisjonas/" rel="me" class="link">Instagram</a>,
        <a href="https://github.com/himynameisjonas" rel="me" class="link">Github</a>
        and
        <a href="https://www.linkedin.com/in/himynameisjonas" rel="me" class="link">LinkedIn</a>.
      </span>
    </div>
    <div class="flex flex-col p-4">
      {{ content }}
    </div>
  </body>
</html>
