<div class="flex-initial mb-8 w-full text-gray-700 border-l-4 border-branding pl-4">
  <a href="/tags/{{post.data.tags[1]}}" class="prefix-hash text-gray-300 text-xl sm:text-2xl leading-tight hover:underline hover:text-branding">
    {{post.data.tags[1]}}
  </a>

  <a href="{{ post.url }}" class="">
    <h2 class="text-2xl sm:text-3xl leading-tight font-bold hover:underline hover:text-branding">
      {{ post.data.title }}
    </h2>
  </a>
</div>
