dist
.cache
.netlify

*.md

tina/__generated__
tina/tina-lock.json
src/site/misc/admin/assets

public/js/count.js
src/site/js/open_heart_element.js
src/site/_includes/css/prism-okaidia.css

public/admin
