body {
  background: #fff;
  font-family:  Lato, sans-serif;
  font-size: 25px;
}

div#suggestion {
  width: 500px;
  max-width: 100%;
  margin: 60px auto;
  text-align: center;
  min-height: 200px;
}

div#suggestion strong {
  font-size: 80px;
  font-family: 'Reenie Beanie', cursive;
  font-style: normal;
  display: block;
  line-height: 1em;
  color: #339fcf;
  margin-top: 10px;
}

strong {
  font-weight: normal;
}

a#next {
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  background: #2780a7;
  color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 12px;
  padding-top: 13px;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  width: 500px;
  font-size: 16px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

a#next:hover {
  background: #339fcf;
}