<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Blog</title>
  </head>
  <style>
    img {
      max-width: 75vw;
    }
  </style>
  <body>
    {{ content }}
  </body>
</html>
