---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Jonas Brusman",
    "subtitle": "I like to do high fives, take photographs and make cool things with Ruby and JavaScript.",
    "url": "https://jonas.brusman.se/",
    "feedUrl": "https://jonas.brusman.se/rss.xml",
    "author": {
      "name": "Jonas Brusman"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blogPost | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.blogPost | reverse %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">
        <![CDATA[
        {%- for image in post.data.photos -%}
          <img src="{% image_url image %}">
        {% endfor -%}
        {{- post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe -}}]]>
      </content>
    </entry>
  {%- endfor %}
</feed>
