@import "./prism-okaidia.css" layer(base);
@import "tailwindcss";

@theme {
  --breakpoint-2-xl: 1700px;

  --color-purple_heart: oklch(40.49% 0.2366 288.51);

  --color-salmon-25: oklch(97.18% 0.0181 12.42);
  --color-salmon-50: oklch(96.94% 0.017 12.42);
  --color-salmon-100: oklch(94.14% 0.0335 12.58);
  --color-salmon-200: oklch(89.24% 0.062 10);
  --color-salmon-300: oklch(79.13% 0.1334 12.73);
  --color-salmon-400: oklch(71.91% 0.1751 13.64);
  --color-salmon-500: oklch(64.4% 0.2136 16.85);
  --color-salmon-600: oklch(58.3% 0.2194 17.89);
  --color-salmon-700: oklch(51.26% 0.1965 17.27);
  --color-salmon-800: oklch(45.32% 0.1698 13.64);
  --color-salmon-900: oklch(40.88% 0.1484 10.79);
  --color-salmon-950: oklch(26.94% 0.0987 13.06);
  --color-salmon: oklch(79.13% 0.1334 12.73);

  --font-sans: Overpass, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-tropic: Tropi Land, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility header-block {
  @apply px-4 sm:px-0 flex justify-between items-center font-black text-2xl sm:text-3xl md:text-3xl lg:text-4xl tracking-tight leading-normal sm:leading-normal md:leading-normal text-balance text-salmon-400;
}

@utility header-icon {
  @apply w-6 h-6 sm:w-9 sm:h-9;
}

@utility list-title {
  @apply text-2xl sm:text-3xl leading-relaxed mb-1 text-purple_heart hover:text-salmon;
}

@utility footer-header {
  @apply text-purple_heart font-bold align-baseline text-left pr-2 pb-2 w-1/4;
}

@utility footer-data {
  @apply align-baseline pb-2;
}

@utility nav-link {
  @apply flex items-center gap-1 hover:border-salmon border-b-4 hover:text-purple_heart border-transparent text-gray-700 px-1;
}

@utility nav-link--active {
  @apply text-purple_heart! border-salmon! hover:border-salmon!;
}

@utility link {
  @apply text-purple_heart underline;

  &:hover {
    @apply no-underline text-salmon-400;
  }
}

@layer utilities {
  @font-face {
    font-family: "Tropi Land";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    size-adjust: 125%;
    src:
      url(/fonts/TropiLand-L3MPg-subset.woff2) format("woff2"),
      url(/fonts/TropiLand-L3MPg-subset.zopfli.woff) format("woff");
    unicode-range: U+20, U+41, U+42, U+4A, U+4D-4F, U+52, U+53, U+55;
  }

  @font-face {
    font-family: Overpass;
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src:
      url(/fonts/Overpass-VariableFont_wght-subset.woff2) format("woff2"),
      url(/fonts/Overpass-VariableFont_wght-subset.zopfli.woff) format("woff");
    unicode-range: U+A, U+20-7E, U+C4, U+C5, U+D6, U+E4, U+E5, U+F3, U+F6,
      U+2013, U+2014, U+2019, U+201C, U+201D, U+2022, U+2026, U+2080, U+2081,
      U+2764, U+FE0F, U+1F465, U+1F629;
  }
}

.max-w-screen-h {
  max-width: 133vh;
}

.w-content {
  @apply max-w-full sm:max-w-2xl md:max-w-4xl lg:max-w-5xl w-full;
}

.prefix-hash:before {
  content: "#";
  display: inline;
}

.ar-3x2 {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.66666666666667%;
}

.markdown {
  @apply leading-relaxed break-words text-lg sm:text-xl lg:text-2xl;
}

.markdown > p {
  @apply mt-0 mb-4;
}

.markdown li + li,
.markdown li > ol,
.markdown li > ul {
  @apply mt-3;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply link;
}

.markdown a:hover {
  @apply no-underline;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply text-salmon-300 font-semibold leading-relaxed text-balance text-4xl sm:text-5xl mb-2 mt-6;
}

.markdown h2 {
  @apply text-salmon-300 font-semibold leading-relaxed text-balance text-3xl sm:text-4xl mb-2 mt-6;
}

.markdown h3 {
  @apply text-salmon-300 font-semibold leading-relaxed text-balance text-2xl sm:text-3xl mb-2 mt-6;
}

.markdown h4 {
  @apply text-salmon-300 font-semibold leading-relaxed text-balance text-lg sm:text-xl mb-4 mt-6;
}

.markdown h5 {
  @apply text-salmon-300 leading-tight text-lg font-normal mb-4 mt-6;
}

.markdown h6 {
  @apply text-salmon-300 leading-tight text-lg font-normal text-gray-600 mb-4 mt-6;
}

.markdown blockquote {
  @apply text-lg sm:text-xl lg:text-2xl border-l-4 border-purple_heart pl-4 pr-4 text-gray-600;
}

.markdown ul {
  @apply text-lg sm:text-xl lg:text-2xl pl-8 list-disc;
}

.markdown ol {
  @apply text-lg sm:text-xl lg:text-2xl pl-8 list-decimal;
}
.markdown ol,
.markdown ul {
  @apply marker:text-purple_heart marker:font-bold;
}

.markdown kbd {
  @apply text-xs inline-block rounded-sm border px-1 py-1 align-middle font-normal font-mono shadow-sm;
}

.markdown table {
  @apply text-lg sm:text-xl lg:text-2xl border-gray-600;
}

.markdown th {
  @apply border py-1 px-3;
}

.markdown td {
  @apply border py-1 px-3;
}

.markdown p > code {
  @apply bg-neutral-100 px-2 py-1 rounded-sm;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100!;
}

.markdown img {
  @apply m-auto bg-white;
}

open-heart:not([disabled]):hover,
open-heart:not([disabled]):focus {
  @apply bg-salmon cursor-pointer text-white;
}

open-heart[disabled] {
  @apply cursor-not-allowed;
}

open-heart[count]:not([count="0"])::after {
  content: attr(count);
  @apply pl-1;
}
