@import "./prism-okaidia.css" layer(base);
@import "tailwindcss";

@theme {
  --breakpoint-2-xl: 1700px;

  --color-purple_heart: oklch(40.49% 0.2366 288.51);

  --color-salmon-25: oklch(97.18% 0.0181 12.42);
  --color-salmon-50: oklch(96.94% 0.017 12.42);
  --color-salmon-100: oklch(94.14% 0.0335 12.58);
  --color-salmon-200: oklch(89.24% 0.062 10);
  --color-salmon-300: oklch(79.13% 0.1334 12.73);
  --color-salmon-500: oklch(71.91% 0.1751 13.64);
  --color-salmon-500: oklch(64.4% 0.2136 16.85);
  --color-salmon-600: oklch(58.3% 0.2194 17.89);
  --color-salmon-700: oklch(51.26% 0.1965 17.27);
  --color-salmon-800: oklch(45.32% 0.1698 13.64);
  --color-salmon-900: oklch(40.88% 0.1484 10.79);
  --color-salmon-950: oklch(26.94% 0.0987 13.06);
  --color-salmon: oklch(79.13% 0.1334 12.73);

  --font-sans:
    "iA Writer Quattro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-tropic:
    Tropi Land, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  --bg-animation: backgroundAnimation 15s cubic-bezier(0.37, 0, 0.63, 1)
    infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 11% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 11% 0%;
  }
}

.bg-super-large {
  background-size: 600% 600%;
}

@utility header-block {
  @apply flex items-center justify-between text-2xl leading-normal font-semibold tracking-tight text-balance sm:text-3xl sm:leading-normal md:text-3xl md:leading-normal lg:text-4xl;
}

@utility header-icon {
  @apply h-6 w-6 sm:h-9 sm:w-9;
}

@utility list-title {
  @apply mb-1 text-xl/7 hover:text-salmon-500 sm:text-3xl/10 dark:hover:text-salmon-600;
}

@utility footer-header {
  @apply w-1/4 pr-2 pb-2 text-left align-baseline font-bold;
}

@utility footer-data {
  @apply pb-2 align-baseline;
}

@utility nav-link {
  @apply flex items-center gap-1 border-b-4 border-transparent px-1 hover:border-salmon-500 hover:text-salmon-500 dark:text-neutral-400 dark:hover:border-salmon-600 dark:hover:text-salmon-600;
}

@utility nav-link--active {
  @apply font-semibold;
}

@utility link {
  @apply text-salmon-500 underline dark:text-salmon-600;

  &:hover {
    @apply text-salmon-300 no-underline dark:text-salmon-500;
  }
}

@layer utilities {
  @font-face {
    font-family: "Tropi Land";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    size-adjust: 125%;
    src:
      url(/fonts/TropiLand-L3MPg-subset.woff2) format("woff2"),
      url(/fonts/TropiLand-L3MPg-subset.zopfli.woff) format("woff");
    unicode-range: U+20, U+41, U+42, U+4A, U+4D-4F, U+52, U+53, U+55;
  }

  @font-face {
    font-family: iA Writer Quattro;
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src:
      url(/fonts/iAWriterQuattroV-subset.woff2) format("woff2"),
      url(/fonts/iAWriterQuattroV-subset.zopfli.woff) format("woff");
  }

  @font-face {
    font-family: iA Writer Quattro;
    font-style: italic;
    font-weight: 100 900;
    font-display: block;
    src:
      url(/fonts/iAWriterQuattroV-Italic-subset.woff2) format("woff2"),
      url(/fonts/iAWriterQuattroV-Italic-subset.zopfli.woff) format("woff");
  }
}

@view-transition {
  navigation: auto;
}

::view-transition-group(header) {
  animation: none;
}

header {
  view-transition-name: header;
}

.max-w-screen-h {
  max-width: 133vh;
}

.w-content {
  @apply w-full max-w-full sm:max-w-2xl md:max-w-4xl lg:max-w-4xl;
}

.prefix-hash:before {
  content: "#";
  display: inline;
}

.ar-3x2 {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 66.66666666666667%;
}

.markdown {
  @apply text-lg leading-relaxed break-words sm:text-xl lg:text-2xl;
}

.markdown > p {
  @apply mt-0 mb-4;
}

.markdown li + li,
.markdown li > ol,
.markdown li > ul {
  @apply mt-3;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply link;
}

.markdown a:hover {
  @apply no-underline;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply mt-6 mb-2 text-4xl leading-relaxed font-semibold text-balance sm:text-5xl;
}

.markdown h2 {
  @apply mt-6 mb-2 text-3xl leading-relaxed font-semibold text-balance sm:text-4xl;
}

.markdown h3 {
  @apply mt-6 mb-2 text-2xl leading-relaxed font-semibold text-balance sm:text-3xl;
}

.markdown h4 {
  @apply mt-6 mb-4 text-lg leading-relaxed font-semibold text-balance sm:text-xl;
}

.markdown h5 {
  @apply mt-6 mb-4 text-lg leading-tight font-normal;
}

.markdown h6 {
  @apply mt-6 mb-4 text-lg leading-tight font-normal;
}

.markdown blockquote {
  @apply border-l-4 border-salmon-500 pr-4 pl-4 text-lg text-gray-600 sm:text-xl lg:text-2xl;
}

.markdown ul {
  @apply list-disc pl-10 text-lg sm:text-xl lg:text-2xl;
}

.markdown ol {
  @apply list-decimal pl-15 text-lg sm:text-xl lg:text-2xl;
}
.markdown ol,
.markdown ul {
  @apply marker:font-bold marker:text-salmon-500;
}

.markdown > ol,
.markdown > ul {
  @apply mb-4;
}

.markdown hr {
  @apply mb-4 border-b-2 border-gray-600;
}

.markdown kbd {
  @apply inline-block rounded-sm border px-1 py-1 align-middle font-mono text-xs font-normal shadow-sm;
}

.markdown table {
  @apply border-gray-600 text-lg sm:text-xl lg:text-2xl;
}

.markdown th {
  @apply border px-3 py-1;
}

.markdown td {
  @apply border px-3 py-1;
}

.markdown p > code {
  @apply rounded-sm bg-neutral-100 px-2 py-1 dark:bg-neutral-700;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100!;
}

.markdown img {
  @apply m-auto;
}

open-heart:not([disabled]):hover,
open-heart:not([disabled]):focus {
  @apply cursor-pointer bg-salmon text-white;
}

open-heart[disabled] {
  @apply cursor-not-allowed;
}

open-heart[count]:not([count="0"])::after {
  content: attr(count);
  @apply pl-1;
}
