---
layout: default
---
<article>
<div class="content">
  {% if page.type == 'month' %}
    <h1 class="text-center">Posts from {{ page.date | date: "%b %Y" }}</h1>
  {% else %}
    <h1 class="text-center">Posts from {{ page.date | date: "%Y" }}</h1>
  {% endif %}

  <ul class="posts">
    {% for post in page.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
</article>
