<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="{{ site.author.name }}" />

   <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Abril+Fatface' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/assets/screen.css" type="text/css" media="screen, projection" />
   <link rel="alternate" type="application/rss+xml" title="jonasforsberg.se" href="http://www.jonasforsberg.se/rss.xml" />
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-332455-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
    <header class="text-center">
        <h1><a href="/">{{ site.title }}</a></h1>
        <small>Agile web developer who likes to do high fives and make cool things with Ruby on Rails.</small>
        <a href="/archive.html">Archive</a> <a href="/about.html">About</a>
    </header>

    {{ content }}

</body>
</html>
