<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} {% if page.title %} – {% endif %} Jonas Brusman – jonas.brusman.se</title>
   <meta name="author" content="{{ site.author.name }}" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
   <link href='https://fonts.googleapis.com/css?family=Unica+One|Vollkorn' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/assets/screen.css" type="text/css" media="screen, projection" />
   <link rel="alternate" type="application/rss+xml" title="jonas.brusman.se" href="https://jonas.brusman.se/rss.xml" />
   <link rel="author" href="https://plus.google.com/113733157396532394681"/>
   <script src="/assets/lazysizes.min.js"></script>
  {% if site.production == true %}
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-332455-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  {% endif %}

  <meta property="og:site_name" content="Jonas Brusman" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:description" content="{{page.content | markdownify | strip_html }}" />
  <meta property="og:url" content="{{site.production_url}}{{page.url}}" />
  <meta property="article:author" content="https://www.facebook.com/himynameisjonas" />
  <meta property="og:type" content="article" />
  {% for flickr_url in page.flickr %}
    <meta property="og:image" content="{{flickr_url | flickr_og_image}}" />
  {% endfor %}
  {% for tag in page.tags %}
    <meta property="article:tag" content="{{tag}}" />
  {% endfor %}
</head>
<body>
    <header class="text-center">
        <h1><a href="/">{{ site.title }}</a></h1>
        <small>I like to do high fives, take photographs and make cool things with Ruby.</small>
        <nav>
          <a href="/">All</a>
          <a href="/photographs">Photos</a>
          <a href="/code">Code</a>
          <a href="/about">About</a>
        </nav>
    </header>

    {% if page.header %}
        <h1 class="text-center">{{ page.header }}</h1>
    {% endif %}

    {{ content }}


    <footer id="footer" class="text-center">
      Made with love by <a href="/about.html">Jonas Brusman</a>
    </footer>
</body>
</html>
