---
layout: layout.njk
description: Jonas Brusman's bookmarks.
title: Bookmarks
---
<div class="flex flex-col w-content bg-white">
  <h2 class="header-block">
    Bookmarks
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="header-icon"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
    </svg>
  </h2>
  <div class="px-4 py-5 sm:p-6">
    <div class="markdown">
      <p>Some of the things I've found interesting lately.</p>
    </div>

    <div class="grid grid-cols-1 gap-x-10">
      {% for bookmark in bookmarks %}
        {% include 'list_bookmark' %}
      {% endfor %}
    </div>
  </div>
</div>
