---
layout: layout.njk
description: Jonas Brusman's blog. Photos and some tech / code stuff.
title: Blog
---

<div class="w-content text-gray-700">
  <div>
    <a href="/notes"><h2 class="text-3xl leading-tight font-semibold border-l-4 border-branding -ml-5 pl-4 mb-3">Latest notes</h2></a>
    {% assign notes = collections.notes | reverse %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10">
    {% for post in notes limit:6  %}
      {% include "list_note_post" %}
    {% endfor %}
    </div>
  </div>

  <div class="flex flex-wrap">
    <a href="/photos"><h2 class="text-3xl leading-tight font-semibold border-l-4 border-branding -ml-5 pl-4 mb-3">Latest photos</h2></a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {% assign photos = collections.photos | reverse %}
    {% for post in photos limit:4  %}
      {% include "list_photo_post" %}
    {% endfor %}
  </div>
</div>
