---
layout: layout.njk
description: Jonas Brusman's blog. Photos and some tech / code stuff.
title: Blog
---
<div class="w-content text-gray-700 dark:text-neutral-500 grid grid-cols-1 md:grid-cols-2 gap-x-6">
  <div>
    <a href="/notes">
      <h2 class="text-3xl leading-tight font-semibold border-l-4 border-branding dark:border-branding-600 pl-4 mb-3">
        Latest notes
      </h2>
    </a>
    {% assign notes = collections.notes | reverse %}
    {% for post in notes limit: 6 %}
      {% include 'list_note_post' %}
    {% endfor %}
  </div>

  <div>
    <a href="/photos">
      <h2 class="text-3xl leading-tight font-semibold border-l-4 border-branding dark:border-branding-600 pl-4 mb-3">
        Latest photos
      </h2>
    </a>
    <div class="grid grid-cols-1 gap-6">
      {% assign photos = collections.photos | reverse %}
      {% assign photoWidths = 'w-full' %}
      {% for post in photos limit: 4 %}
        {% include 'list_photos_post' %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="hidden h-card">
  <a class="p-name u-url" rel="me" href="https://jonas.brusman.se/">Jonas Brusman</a>
  <span class="p-nickname">himynameisjonas</span>
  <p class="p-note">
    I like to do high fives like Finn and Jake, take photographs and build things with Ruby, Rails, JS and Ember.
  </p>
</div>
