---
layout: layout.liquid
description: Jonas Brusman's blog. Photos and some tech / code stuff.
---

<div class="flex flex-wrap">
  {% for post in collections.entries reversed %}
    {{post.title}}
  {% endfor %}
</div>
