---
layout: layout.njk
description: Jonas Brusman's blog. Photos and some tech / code stuff.
title: Blog
---
<div class="w-content text-gray-700 grid grid-cols-1 md:grid-cols-2 gap-x-6">
  <div class="bg-white">
    <a href="/texts/">
      <h2 class="header-block">Text posts</h2>
    </a>
    <div class="px-4 py-5 sm:p-6">
      {% assign texts = collections.texts | reverse %}
      {% for post in texts limit: 6 %}
        {% include 'list_text_post' %}
      {% endfor %}

      <div class="border-t-4 border-purple_heart mb-2 mt-2 pt-2">
        <a href="/texts/" class="link block text-center">View all texts</a>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <a href="/photos">
      <h2 class="header-block">Photo posts</h2>
    </a>
    <div class="px-4 py-5 sm:p-6">
      <div class="grid grid-cols-1 gap-6">
        {% assign photos = collections.photos | reverse %}
        {% assign photoWidths = 'w-full' %}
        {% for post in photos limit: 4 %}
          {% include 'list_photos_post' %}
        {% endfor %}
      </div>
      <div class="border-t-4 border-purple_heart mb-2 mt-2 pt-2">
        <a href="/photos/" class="link block text-center">View all photos</a>
      </div>
    </div>
  </div>
</div>

<div class="hidden h-card">
  <a class="p-name u-url" rel="me" href="https://jonas.brusman.se/">Jonas Brusman</a>
  <span class="p-nickname">himynameisjonas</span>
  <p class="p-note">
    I like to do high fives like Finn and Jake, take photographs and build things with Ruby, Rails, JS and Ember.
  </p>
</div>
