---
layout: layout.liquid
description: Jonas Brusman's blog. Photos and some tech / code stuff.
---

<div class="w-content">
  <div >
    {% assign notes = collections.notes | reverse %}
    {% for post in notes limit:3  %}
      {% include "list_note_entry" %}
    {% endfor %}
  </div>
  <div class="flex flex-wrap">
    {% assign photos = collections.photos | reverse %}
    {% for post in photos limit:3  %}
      <div class="flex-initial {% if forloop.first == true %}w-full{% else %}w-1/2{% endif %}">
        <div class="mb-6 {% cycle '', 'mr-3', 'ml-3' %}">
          {% include "list_photo_entry" %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
