---
layout: layout.liquid
description: Jonas Brusman's notes.
---

<div class="flex flex-wrap w-content">
  {% for post in collections.notes reversed %}
    {% include "list_note_entry" %}
  {% endfor %}
</div>
