---
layout: layout.njk
description: Today I Learned, by Jonas Brusman.
title: Today I Learned
---

<div class="flex flex-wrap w-content">
  {% for post in collections.til reversed %}
    {% include "list_note_post" %}
  {% endfor %}
</div>
