name: Fetch bookmarks

on:
  # schedule:
  #   - cron: "17 8 * * 6"
  workflow_dispatch:

jobs:
  build:
    name: "Fetch bookmarks"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20.10.0
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - name: Fetch bookmarks
        run: yarn fetch_bookmarks
        env:
          RAINDROP_COLLECTION_ID: ${{ secrets.RAINDROP_COLLECTION_ID }}
          RAINDROP_TOKEN: ${{ secrets.RAINDROP_TOKEN }}
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fetched new bookmarks
